@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');
@import 'normalize';

$text-color: #946200;
$text-color-light: #d3bf97;
$board-color: #946200;
$front-color: #ffa801;
$back-color: #0be881;

body {
  font-family: 'Poppins', sans-serif;
  color: $text-color;
}

.up_wrap {
  text-align: center;

  .cards_btn {
    margin-top: 30px;
  }
}

.header {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  width: 30%;
  margin: 30px auto 0;

  @media screen and (max-width: 1080px) {
    & {
      width: 80%;
    }
  }

  @media screen and (max-width: 480px) {
    & {
      font-size: 32px;
    }
  }
}

.cards {
  &_result {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $board-color;
    transform: translateY(-1000px);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &_result--show {
    transform: translateY(0);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &_win {
    color: $text-color-light;
    font-size: 60px;
    width: 50%;
    transform: scale(0.1);
    opacity: 0;
    transition: all 0.5s ease-in 1s;
    text-align: center;

    @media screen and (max-width: 567px) {
      & {
        font-size: 48px;
      }
    }

    @media screen and (max-width: 480px) {
      & {
        font-size: 32px;
      }
    }
  }

  &_win--done {
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s ease-in 1s;
  }

  &_btn {
    border: none;
    background-color: $back-color;
    color: $board-color;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }

  &_board {
    position: relative;
    width: 530px;
    margin: 50px auto 50px;
    padding: 10px;
    background-color: $board-color;
    border-radius: 10px;
    box-shadow: 0 10px 20px 2px rgba(148, 98, 0, 0.5);
    overflow: hidden;

    @media screen and (max-width: 560px) {
      & {
        width: 450px;
      }
    }

    @media screen and (max-width: 480px) {
      & {
        width: 350px;
      }
    }
  }

  &_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    perspective: 1500px;
  }

  &_row:not(:last-child) .card {
    margin-bottom: 10px;
  }
}

.card {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  transform-style: preserve-3d;
  overflow: hidden;
  cursor: pointer;
  pointer-events: auto;

  @media screen and (max-width: 560px) {
    & {
      width: 100px;
      height: 100px;
    }
  }

  @media screen and (max-width: 480px) {
    & {
      width: 75px;
      height: 75px;
    }
  }

  &_face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: transform 0.2s ease-in;
  }

  &_face1 {
    background-color: $front-color;
  }

  &_face2 {
    background-color: $back-color;
    transform: rotateY(180deg);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--open {
    pointer-events: none;
  }

  &--open &_face1 {
    transform: rotateY(-180deg);
  }

  &--open &_face2 {
    transform: rotateY(0);
  }
}
