@import 'normalize';
.cards {
  &_board {
    width: 530px;
    margin: 50px auto 0;
    padding: 10px;
    background-color: #946200;
    border-radius: 10px;
    box-shadow: 0 10px 20px 2px rgba(148, 98, 0, 0.5);
  }

  &_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    perspective: 1500px;
  }

  &_row:not(:last-child) .card {
    margin-bottom: 10px;
  }
}

.card {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  transform-style: preserve-3d;
  overflow: hidden;
  cursor: pointer;

  &_face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: transform 0.3s ease-in;
  }

  &_face1 {
    background-color: #ffa801;
  }

  &_face2 {
    background-color: #0be881;
    transform: rotateY(180deg);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--open &_face1 {
    transform: rotateY(-180deg);
  }

  &--open &_face2 {
    transform: rotateY(0);
  }
}
